[2021-10-21 09:16] MarcoGorelli commented on #668
Hey @basnijholt

I think you can sync Python files with notebooks in Jupytext? If so, you could run your Python tools on those files directly

If you want to keep them in markdown, I don't think there's a simpler solution, but thanks anyway for your issue!

[2021-10-21 19:50] MarcoGorelli opened #669 "Is extend-ignore taken into account?"
Just noticed this

https://github.com/ComPWA/ampform/commit/7d400055fc070a719127ed87b1c0e8693acd47c3

  nbQA does not take extend-ignore into account

I haven't looked into this yet, just opening an issue for it so I don't forget - if that's the case, it sounds like a bug

(cc @redeboer)

[2021-10-21 20:00] redeboer commented on #669
Oh haha well spotted :sweat_smile:
Sorry should have reported that upstream, but yes I got that impression from a quick glance

[2021-10-22 14:54] #669 closed, assigned to nobody

[2021-11-18 17:39] MarcoGorelli commented on #555
I found myself really wanting this feature today...will try to prioritise it

[2021-11-20 13:20] #555 closed

[2021-11-20 13:28] MarcoGorelli commented on #553
Hi @v-goncharenko @hukkin - as of `1.2.0`, `nbQA` now has an `--nbqa-md` flag, which allows to process Markdown cells instead of code cells

E.g.:
[code]

[2021-11-20 13:30] MarcoGorelli commented on #553
Also cc @choldgraf as it looks from [here](https://twitter.com/psychemedia/status/1455192710722334722) that you were also interested in this

[2021-11-20 13:36] MarcoGorelli commented on #555
@psychemedia as of version `1.2.0`, this is available - would appreciate it if you could try it out and report any bugs!

e.g.:
[code]

[2021-11-21 18:14] MarcoGorelli opened #677 "--nbqa-md removes trailing newlines from cells"
It's OK to remove trailing newlines from code cells.

But is it also OK to remove them from markdown cells?

@s-weigand would you happen to know?

[2021-11-22 11:41] psychemedia commented on #555
Great, thanks..  What checks / lint is applied to the markdown cells? (For example, I've started using [markdownlint](https://opencomputinglab.github.io/educational-jupyter-notebook-qa-automation/linters.html#linting-markdown-using-markdownlint) on some documents. Link checkers are also something I need to add.)

To clarify does this now offer separate control over code and markdown cells? So for

[2021-11-22 11:59] MarcoGorelli commented on #555
Whichever one you run - e.g. if you run `nbqa mdformat notebook.ipynb --nbqa-md`, then `mdformat` will be run. If you run `nbqa blacken-docs notebook.ipynb --nbqa-md`, then `blacken-docs` will be run.

If a command works on a Markdown file, then you can run it on a notebook, with the `--nbqa-md` flag, and it'll run on the markdown cells.

Yeah, exactly. It's up to the user to specify which checks

[2021-11-22 12:46] psychemedia commented on #555
Yep, all sounds good... seems to work well so far. Will let you know if I have any issues.

[2021-11-22 12:59] hukkin commented on #555
Mdformat also has plugins that make it format code fence content, here's a list of them https://mdformat.readthedocs.io/en/stable/users/plugins.html#existing-plugins

If a plugin is installed it should be activated whether being run via nbqa or natively.

[2021-11-25 00:13] danielsparing opened #679 "`var = %env var` does not roundtrip"
`var = %env var` is used to assign an environment variable's value to a Python variable.

When running e.g. `nbqa black` (or `isort`, `pyupgrade` etc) on a cell containing such a construct, it gets transformed to the equivalent but harder to read `var = get_ipython().run_line_magic("env", "var")`.

It would be great if this remained unedited.

[2021-11-25 07:59] MarcoGorelli commented on #679
Hey @danielsparing - thanks for reporting this, that's not intentional, it's definitely a bug. I'll have a think about how to fix it

[2021-11-25 08:12] MarcoGorelli commented on #677
I think this is fine, can always reconsider if anyone reports a bug

[2021-11-25 08:12] #677 closed

[2021-11-25 08:17] MarcoGorelli commented on #679
PR on its way - this probably affects upstream `black` as well

[2021-11-25 08:35] #679 closed

[2021-11-25 08:57] MarcoGorelli commented on #679
@danielsparing this should be fixed in nbQA version 1.2.2, would really appreciate it if you could check and report back if that's not the case

Thanks again for your report!

[2021-11-25 08:57] MarcoGorelli commented on #679
@all-contributors please add @danielsparing for bugs

[2021-11-25 16:24] danielsparing commented on #679
Yes, this fixes it! Thanks for much for the quick solution.

[2021-12-05 17:48] Sreerag-ibtl opened #686 "Support for code complexity/maintainability analysis tools."
Wondering if it's possible to provide a pre-commit hook for the complexity/maintainability analysis tools such as wily. That will be really helpful!

[2021-12-05 17:53] MarcoGorelli commented on #686
Hi @Sreerag-ibtl

That should be possible - can you show me the command which you'd run on a Python file to see the complexity/maintainability?

[2021-12-05 18:18] Sreerag-ibtl commented on #686
Sure. I use [Wily](https://github.com/tonybaloney/wily) and they have a [pre-commit hook](https://github.com/tonybaloney/wily/blob/master/.pre-commit-config.yaml) as well. I tried this [nbqa guide](https://nbqa.readthedocs.io/en/latest/pre-commit.html#custom-hooks) but couldn't make it work. Their CLI tool involves multiple steps. You can find it [here](https://github.com/tonybaloney/wily#command-

[2021-12-05 18:22] MarcoGorelli commented on #686
Just checked their repo and it says

So, looks like they already run on notebooks - if that's not the case, I'd suggest opening an issue in their repo

Thanks anyway for your suggestion!

[2021-12-05 18:22] #686 closed

[2022-01-10 09:05] subpath opened #691 "flake8 doesn't recognize magic command"
Hey! I'm getting the following error when I'm using the `%pylab inline` command:
[code]
Is it expected?
Steps to recreate this error:
notebook:
[code]
ndqa:
[code]

[2022-01-10 09:15] MarcoGorelli commented on #691
Hey @subpath

Yes, it looks like `pylab` magically imports `matplotlib` objects, but that's not something that can be detected by a static analysis tool like `flake8` which doesn't run your code.

So I don't think there's much we can do here

Thanks anyway for the report, much appreciated, please do let me know if you run into anything else!

[2022-01-10 09:15] #691 closed

[2022-01-11 11:34] MarcoGorelli commented on #623
closed in #693

[2022-01-11 11:34] #623 closed

[2022-01-18 20:45] RoyalTS opened #695 "flakeheaven"
I would love to run note plain flake8 but flake8 as wrapped by [flakeheaven](https://github.com/flakeheaven/flakeheaven). Alas, that appears to be difficult [given how nbqa is currently architected](https://github.com/flakeheaven/flakeheaven/issues/17). Can you think of a fix for this that the authors of flakeheaven haven't yet thought of. Alternatively, would you be willing to go down any of the

[2022-01-18 20:57] MarcoGorelli commented on #695
Hey - yeah I'd like to go down this route https://github.com/flakeheaven/flakeheaven/issues/17#issuecomment-1014799078

Would you like to submit a pull request?

[2022-01-18 21:53] RoyalTS commented on #695
I'm not sure I have the necessary chops to do that sadly :(

[2022-01-18 22:05] MarcoGorelli commented on #695
no worries - I'll get to this when I get a chance then, no promises about timings though

[2022-01-19 08:16] RoyalTS commented on #695
I'm not in any rush. Thank you very much in advance!

On Tue, Jan 18, 2022, 10:05 PM Marco Edward Gorelli <
***@***.***> wrote:

[2022-01-20 19:02] subpath opened #696 "Autopep8 corrupting notebooks with !pip command"
autopep8 changing order of import and `!pip install` command so notebook became corrupted because I want my `!pip install` command to be the first cell in the notebook.

Is there some parameter that I can use with autopep8 to avoid it?

Cheers : )

### Steps to recreate
before:
[code]

after:
[code]

pre-commit-config.yaml
[code]

[2022-01-20 19:17] MarcoGorelli commented on #696
Thanks @subpath for the report - this feels like a bug, I'll have a look

[2022-01-20 19:28] MarcoGorelli commented on #696
@subpath having looked into this furter, I don't think there's a bug

I don't think there's a way to turn off reording imports in autopep8 (as far as I can tell, at least), so I'd suggest using a [cell tag to skip the first cell](https://nbqa.readthedocs.io/en/latest/configuration.html#skip-cells-based-on-celltags)

Do let me know if that doesn't work for you and I'll reopen - thanks again for the

[2022-01-20 19:28] #696 closed

[2022-01-21 10:12] MarcoGorelli opened #697 "comments in imports section"
see https://github.com/GoogleCloudPlatform/vertex-ai-samples/pull/227#issuecomment-1017746465

might be a bug, don't know yet, haven't investigated

[2022-02-18 14:40] LauraRichter opened #700 "Magic in first cell or cells leads to flake8 E402"
I have some notebooks with magics either:
* in their own in the first cell in my notebook (e.g. %load_ext nb_black), or
* at the top of the first cell where I have my imports (e.g. %load_ext autoreload and %autoreload 2\n"

This causes a flake8 E402 error because of code being about the imports.

I can ignore these by either #noqa E402-ing every import line, or by ignoring E402 throughout.

Which

[2022-02-18 14:50] MarcoGorelli commented on #700
One suggestion would be to [skip such cells based on cell tags](https://nbqa.readthedocs.io/en/latest/configuration.html#skip-cells-based-on-celltags)

[2022-02-18 14:59] LauraRichter commented on #700
(Don't know how I managed to close the issue right after making it, oops!)

[2022-02-18 15:01] LauraRichter commented on #700
If people think this change is worth making I thought I could try implement it? To make E402 not apply for magics? (Not sure how, I'd have to figure it out!)

[2022-02-18 15:43] MarcoGorelli commented on #700
I meant that the user can set a cell-tag in their own notebook, in the first cell, if they don't want flake8 to report on it

The issue is that magics sometimes come with valid Python code, e.g.
[code]
so I'd rather not exclude magics completely.

IMO skipping a cell you don't want to have errors reported on with a cell-tag is a simple-enough solution

[2022-02-21 22:33] MarcoGorelli commented on #700
Thinking about this again, if a cell contains a magic - and nothing else - then I think we should be safe to always ignore it, right?

[2022-02-22 08:44] MarcoGorelli commented on #700
Sure, do you want to try opening a pull request @LauraRichter ? I think you'd probably want to modify this function https://github.com/nbQA-dev/nbQA/blob/f2c53d45507058189cda0dab8958d50bd5401aa8/nbqa/save_code_source.py#L254-L306 and make it return true if a cell starts with `%`, `?`, or `!` and it is only one line long

See [here](https://nbqa.readthedocs.io/en/latest/contributing.html) for the c

[2022-03-01 10:18] chrisk314 opened #701 "False flags errors from `nbqa isort`"
When running `nbqa isort` on some notebooks which have already been fixed up previously with `nbqa isort`, false flag errors are being raised. Take a look at the terminal output below. I have a notebook, `examples/custom-nodes.ipynb`, which does not contain any isort formatting issues, as it was alrady run through `nbqa isort`. Running `nbqa isort` with `--check-only` indicates an error. Running `

[2022-03-01 10:33] MarcoGorelli commented on #701
Thanks @chrisk314 for the report - could you attach your notebook please?

[2022-03-01 10:44] chrisk314 commented on #701
@MarcoGorelli thanks for your quick response. I can't share the original notebook mentioned as it's proprietory; however, I have managed to reproduce the issue with a very simple example. I'm adding the json content directly here as I can't see a way to attach the ipynb file itself. The issue seems to be caused by having two separate code cells with import statements. With imports in just a single

[2022-03-01 10:47] chrisk314 commented on #701
It should be noted that in this project I also have config for `isort` and `black` stored in a `pyproject.toml`. I mention `black` as well because there is some interaction between the two which requires specific config. Perhaps this is relevant to the issue. Here's the relevant parts of my `pyproject.toml`.

[code]

[2022-03-01 11:09] chrisk314 opened #702 "Flake8 async parsing issue"
When attempting to run `nbqa flake8` on a Jupyter Notebook which contains await statements on python coroutines, a parsing error results. I have attached the json content for a simple notebook with two code cells: the first defines an awaitable function, the second calls the awaitable. The notebook can be executed without issue.

[code]

When running this notebook with

`nbqa flake8 example.ipynb`

[2022-03-01 12:20] MarcoGorelli commented on #701
Thanks @chrisk314 - I'll take a look

[2022-03-01 13:21] MarcoGorelli commented on #702
Thanks for the report, but this isn't valid Python:
[code]

[2022-03-01 13:21] #702 closed

[2022-03-01 13:25] MarcoGorelli commented on #702
besides, can't reproduce:
[code]

[2022-03-01 13:33] MarcoGorelli commented on #701
@all-contributors please add @chrisk314 for bugs

[2022-03-01 14:47] chrisk314 commented on #702
@MarcoGorelli I don't agree that this should be considered closed. You are quite correct that this is not valid syntax in a regular python script; however, this has been supported in Jupyter and IPython since 2018. See this [blog post](https://blog.jupyter.org/ipython-7-0-async-repl-a35ce050f7f7).

Clearly this marks a difference between what is accepted/valid syntax in a regular python script vs

[2022-03-01 14:50] chrisk314 commented on #701
@MarcoGorelli thanks for looking into the issue. We are looking at possibly adopting `nbqa` for use in all of our CI pipelines which touch python notebooks at my current company - a large org. This will be very useful for us if it works well.

[2022-03-01 15:05] MarcoGorelli commented on #702
nbQA just runs your tool (in this case, `flake8`)

https://github.com/nbQA-dev/nbQA/blob/f2c53d45507058189cda0dab8958d50bd5401aa8/nbqa/__main__.py#L264

If `flake8` doesn't support certain syntax, then neither will `nbqa flake8`, unless there's a way to preprocess the cell beforehand. `nbQA` currently does that for magics.

Do you have an idea for how it could preprocess the cell to support this s

[2022-03-01 18:14] MarcoGorelli commented on #701
TBH I can't think of a fix which doesn't involve setting `lines-after-imports` to `1` in

https://github.com/nbQA-dev/nbQA/blob/f2c53d45507058189cda0dab8958d50bd5401aa8/nbqa/__main__.py#L355-L360

and documenting this as a known-limitation

[2022-03-01 22:05] chrisk314 commented on #701
@MarcoGorelli what makes you think the issue is due to the `lines_after_imports` setting? I tried adding 2 new lines beneath the import statements in the minimal failing example and the behaviour is still the same.

If you can explain your reasoning here that would put me in a better position to have a look at the code and see if anything occurs to me.

[2022-03-01 22:11] MarcoGorelli commented on #701
Sure, tomorrow I'll post some outputs as I step through the code

Another solution could be to change the return code of nbqa-diff to be 1 if the tool would have modified the notebook and 0 otherwise.
Then you could use that in CI in place of isort's check-only

[2022-03-01 22:19] chrisk314 commented on #702
OK, understood. I have confirmed that `flake8_docstrings` causes the problem. Removing this from the venv with the affected installation of flake8 allows me to run flake8 on the notebook and see the linting issues as expected.

This step is to be run from `tox`. I'd like to avoid needing different installations of `flake8` with different confiurations or plugins just to work around this problem. I

[2022-03-02 20:22] MarcoGorelli commented on #701
Because ``nbQA`` transforms your notebook to a temporary Python file and runs whichever tool you give it onto that. Currently, for `isort`, it expects 1 blank line between cells. If `isort`'s config is to enforces 2 blank lines, then that expectation is broken

I've opened for https://github.com/nbQA-dev/nbQA/pull/704 , will try to make a new release this week as there's another change it would be

[2022-03-04 18:51] MarcoGorelli commented on #700
@all-contributors please add @LauraRichter for ideas

[2022-03-04 18:55] MarcoGorelli commented on #701
Hi @chrisk314 - before I cut a new release, any chance you could please try installing https://github.com/MarcoGorelli/nbQA/tree/exit-code to check that this would work for you?

[code]
should do it

Seems to work for me: the return code in the example you posted would be `0`, thus not breaking CI:
[code]

[2022-03-05 09:27] #700 closed

[2022-03-05 09:33] #701 closed

[2022-03-05 10:21] MarcoGorelli commented on #701
Fixed in version 1.3.0 :rocket:

[2022-03-05 10:21] MarcoGorelli commented on #700
fixed in version 1.3.0 :rocket:

[2022-03-08 13:59] adrienpacifico opened #707 "Disable W0104 option for pylint"
Hi,

I want to disable code W0104 ( Statement seems to have no effect (pointless-statement) ) that does not seem to be appropriate for jupyter notebook where one wants to display a given variable.

Is there a way to do it?

I probably could include [a .pylintrc file that excludes the error ](https://stackoverflow.com/a/4341833), but it would probably be better if it works only for `.ipynb` files.

[2022-03-08 15:00] MarcoGorelli commented on #707
Hey @adrienpacifico ,

See [here](https://nbqa.readthedocs.io/en/latest/configuration.html#extra-flags) for how to add extra options for nbQA to your pyproject.toml file - does that work for you?

[2022-03-08 15:45] adrienpacifico commented on #707
Hi @MarcoGorelli,

Thank you very much! That will do!

[2022-03-09 09:09] francesco-ballarin opened #708 "v 1.3.0 inadvertently broke compatibility with python 3.6"
Hi,
I believe this change
https://github.com/nbQA-dev/nbQA/blame/master/nbqa/__main__.py#L265
has broken by mistake the python 3.6 compatibility declared at
https://github.com/nbQA-dev/nbQA/blob/master/setup.cfg#L41

Indeed, it seems that the capture_output argument is supported by python >= 3.7, see
https://docs.python.org/3.7/library/subprocess.html

[2022-03-09 09:21] MarcoGorelli commented on #708
Hi - this was intentional, Python3.6 has reached end-of-life https://endoflife.date/python

[2022-03-09 09:22] MarcoGorelli commented on #708
ah, you're right, I didn't update that

[2022-03-09 09:32] MarcoGorelli commented on #708
fixed in 1.3.1

[2022-03-09 17:37] stefaneidelloth opened #711 "Unexpected line ending format"
I use LF line endings in Jupyter Notebooks and the pylint option

`expected-line-ending-format='LF'`

Unfortunately, nbqa replaces LF line endings with CRLF line endings when converting the notebooks to *.py files.
And then, I get unexpected pylint warnings.

`Unexpected line ending format. There is 'CRLF' while it should be 'LF'. (unexpected-line-ending-format)`

=> How can I tell nbqa to keep LF

[2022-03-09 20:02] MarcoGorelli commented on #711
Hey @stefaneidelloth thanks for your report

There's not currently a way to do this.

Do you know it could be implemented? (I don't use Windows myself and don't really know much about line endings)

[2022-03-10 07:41] stefaneidelloth commented on #711
The files are currently written with

[code]

The open method has an optional argument "newline".
Would be great if I could specify that in a configuration file for nbqa or pass it as a command line argument.

https://stackoverflow.com/questions/2642036/using-python-to-write-text-files-with-dos-line-endings-on-linux

[2022-03-10 08:55] MarcoGorelli commented on #711
Thanks

Not totally keen on adding extra configuration for this - would it be possible to detect the line ending of the `.ipynb` file and use that?

[2022-03-10 11:45] MarcoGorelli commented on #711
@stefaneidelloth Do you get the same error if you first run `reorder-python-imports` on your Python files? It seems that they also just do `open` without specifying `newline`

https://github.com/asottile/reorder_python_imports/blob/9bac6bbf4fa776d5990163e00c43c13b05ab2191/reorder_python_imports.py#L496-L497

Is there any existing tool which preserves newlines I could take a look at?

[2022-03-10 11:48] MarcoGorelli commented on #711
seems like `black` does this actually:

https://github.com/psf/black/blob/71e71e5f52e5f6bdeae63cc8c11b1bee44d11c30/src/black/__init__.py#L890-L903

Could that work for you? If so, do you want to open a PR?

[2022-03-15 22:25] ncgoodbody opened #713 "Pre-commit hook"
Hello! First off, I love this tool. I'm leading a team of curriculum developers, and we use`nbqa-isort` and `nbqa-black` to keep all our code consistent. It's a lifesaver, so thank you for putting it out into the world.

I'm having an issue with `nbqa-isort` where I can't pass the pre-commit hook even when changes have been made to the file.

For example, I'll have a cell of imports at the top of

[2022-03-15 23:32] MarcoGorelli commented on #713
Hey @ncgoodbody

Thanks for your kind words, and for your report!

Sounds like this might be a bug - could you please upload your notebook (or a smaller version of the notebook that reproduces the issue) so I can debug?

[2022-03-16 17:39] ncgoodbody commented on #713
This is a great example of rubber duck coding. As I was preparing a notebook for you, I realized that I was running `nbqa-black` right after `nbqa-isort`, and they were conflicting. So I set `--profile=black`, and the problem is solved.

Thanks for your willingness to look at my notebook and, again, for this tool. Keep it up!

[2022-03-16 17:39] #713 closed

[2022-03-16 17:46] MarcoGorelli commented on #713
Ah nice, thanks for letting me know and closing the issue!

[2022-03-18 19:34] MarcoGorelli commented on #711
closing for now as there's been no uptake / interest in this

however, anyone's free to submit a PR if they want to see this feature in nbQA

[2022-03-18 19:34] #711 closed

[2022-03-18 19:34] #155 closed

[2022-03-20 12:40] MarcoGorelli commented on #697
I think it's just that they hadn't run `isort`, if there's a bug I presume they'll report it

[2022-03-20 12:40] #697 closed

[2022-03-25 11:13] stefaneidelloth commented on #711
Thank you for asking back and sorry for the late reply. I decided to disable the line ending check for notebooks and closing the ticket is fine for me.

[2022-04-04 04:41] chamilad opened #716 "black being pinned to an older version causes a crash"
There was a breaking change recently in the `click` library which is a dependency in `black`. `black` has updated the dependency version and released a new version, however because `black` is pinned to an older version, this fix isn't getting propagated. For the moment, we can workaround this by pinning `click` to an older version, but I think `nbqa-black` itself can fix this by moving to the newe

[2022-04-04 05:02] chamilad commented on #716
Okay, I've made a mistake. It's not because of `black` version pinning in the `requirements-dev.txt` file, it's because of the precommit config. I'll try and send a PR for this update.

[2022-04-05 21:20] chamilad commented on #716
Hi @MarcoGorelli,

Sorry, my issue description is wrong. It affects the library use, at least in my case. I'm guessing it's because of how precommit config works, because I even tried installing Black and Click with pinned latest versions before installing nbqa-black library without success. I couldn't dig deep into this, but I'm guessing precommit uses some kind of venv setup with the precommit c

[2022-04-05 22:16] MarcoGorelli commented on #716
Can you show your precommit config file please?

[2022-04-05 23:02] s-weigand commented on #716
@chamilad black fixed this issue by now.
The hook from nbqa does not pin the back version
https://github.com/nbQA-dev/nbQA/blob/b77ee1424b4ef11878c99ebd8a701ed442fa0aa8/.pre-commit-hooks.yaml#L8-L15
But `pre-commit` caches the venvs it uses to run the hooks based on the values in your config.
Your problem most likely is that the cached venv uses a broken combination of `back` and `click` (also had

[2022-04-06 22:32] chamilad commented on #716
Hi @MarcoGorelli , @s-weigand ,

Yeah, I don't know how to say this without sounding stupid, but you're right. I have jumped the gun on the dependency.

Turns out our Workflow copies over a precommit config from a different repo, which had `black` pinned to an older version as an `additional_dependencies` entry.

![image](https://user-images.githubusercontent.com/505989/162082967-fc8fd6f5-255b-444

[2022-04-07 07:17] MarcoGorelli commented on #716
No worries, thanks for the report!

I'll close then but will keep pinned for a bit

[2022-04-07 07:17] #716 closed

[2022-05-17 10:01] amadeuspzs opened #721 "pre-commit args need to be concatenated"
The pre-commit example is:

[code]

However, black and isort sometimes fight over module import orders. This is resolved by passing `args: ["--profile", "black"]` into the precommit config, but for some reason, for the nbqa-isort module only, this needs to be `args: ["--profile=black"]`

I haven't seen this flagged anywhere so might be specific to my setup.

Is this an issue with pre-commit?

[2022-05-17 10:07] MarcoGorelli commented on #721
Hi @amadeuspzs  - you can put `profile=black` in your configuration file (e.g. pyproject.toml - see https://pycqa.github.io/isort/docs/configuration/config_files.html)

yeah unfortunately `pre-commit` passes the `args` first, which isn't how nbQA expects its arguments. I might need to make a breaking change to the api to get this to work, e.g.
[code]
rather than
[code]

For now, either `args: ["--

[2022-05-25 11:31] miguelcarcamov opened #723 "yapf hook not working for .toml projects"
Hello,

I have a .toml project and when I run nbQA with yapf it tells me that I need to install the toml package. I have tried to added the additional dependency in the hook as:
[code]
But I get:
[code]

[2022-05-25 12:09] MarcoGorelli commented on #723
Hi @miguelcarcamov

you'll need
[code]
(better still to pin them)

[2022-05-25 12:22] #723 closed

[2022-06-09 15:37] carlosal1015 opened #725 "test_pylint_works is not passing with pylint 2.14.1"
Hi, with recent [`python-pylint 2.14.1`](https://archlinux.org/packages/community/any/python-pylint), the test `test_pylint_works` is not passing.

[code]

OS: Arch Linux
nbQA version: [`nbqa 1.3.1`](https://aur.archlinux.org/packages/nbqa)

Steps to reproduce

For example inside docker container.
[code]

[2022-06-10 20:32] #725 closed

[2022-07-10 11:58] janosh opened #730 "`flake8` `per-file-ignores` not read from `setup.cfg`?"
[code]

If I remove `ignore = E402`, I still get

[code]

if I leave it in, the error disappears so `setup.cfg` is read but `per-file-ignores` apparently isn't?

[2022-07-10 22:49] MarcoGorelli commented on #730
Hey @janosh

This is because nbQA converts jupyter notebooks to temporary Python files, and then runs whatever tool you've specified over them

It's a limitation of the tool, not sure what can be done here, other than perhaps to add a note about this in the docs

[2022-07-11 08:54] janosh opened #731 "Can't pass args to `nbqa flake8` through `pre-commit`"
Pasting this snippet into `.pre-commit-config.yaml`

[code]

and running

[code]

raises

[code]

which arises because it translates to this command

[code]

whereas `flake8` requires

[code]

[2022-07-11 09:28] MarcoGorelli commented on #730
Thanks! I think here might be better https://nbqa.readthedocs.io/en/latest/known-limitations.html ?

[2022-07-12 08:24] MarcoGorelli commented on #731
hey @janosh - yeah, you'll need to use an `=` sign, so
[code]
A PR to document this would be appreciated (as well as a way to address this limitation, if you have any ideas)

[2022-07-12 09:44] janosh commented on #731
I don't know of any workaround other than joining CLI flag and value with an equal sign like you said. I'll submit a doc PR that adds a note here: https://nbqa.readthedocs.io/en/latest/pre-commit.html#configuration.

[2022-07-12 18:01] #731 closed

[2022-07-12 18:07] #721 closed

[2022-07-17 10:34] #695 closed

[2022-08-19 18:03] dnoliver commented on #716
Hi, run into an issue while testing `nbqa black` for the first time today. Want to check first if it is related to this one.

I was trying to run this tools against a notebook I have, my setup is a windows laptop with docker, and I pulled `python:3.6` from dockerhub, started an interactive container with my code mounted as a volume.

Then, created a virtual environment and installed nbqa as:

[cod

[2022-08-24 17:22] dnoliver opened #738 "nbqa and cspell"
Hi!

I am trying to get nbqa and [cspell](https://cspell.org/) working together.
Got some mild success, but run into two cumbersome situations that I would like to let you know.

This is how I am running it. So far is good, it is great that I have an specific report of which cell is failing, and I could apply different configurations for markdown and for code cells.

[code]

**Can't execute a cspe

[2022-08-24 18:30] MarcoGorelli commented on #738
Hey,

Thanks for the report

Does

[code]
work? Haven't tried it yet as I'm on my phone

[2022-08-24 18:38] dnoliver commented on #738
Not working

[code]

[2022-08-24 18:58] MarcoGorelli commented on #738
OK, thanks, taking a look (though first need to figure out how to install cspell :smile: )

[2022-08-24 19:06] dnoliver commented on #738
This is my Dockerfile, hope it helps

[code]

[2022-08-24 19:09] #655 closed

[2022-08-24 19:10] MarcoGorelli commented on #487
realistically, not gonna get round to this, so closing

[2022-08-24 19:10] #487 closed

[2022-08-25 07:10] s-weigand commented on #738
I guess for shell aliases to work the `subprocess.run` would need to be run with `shell=True`.
https://github.com/nbQA-dev/nbQA/blob/ed6b5a95ec56fd7e10b6fc64ca6e6d8e39392705/nbqa/__main__.py#L280-L285

As for using `'cspell check'`, my guess is that this is an issue with using lists with `subprocess.run` where one member of the strings in the list contains a space.

If that is the case changing
ht

[2022-08-25 17:17] MarcoGorelli commented on #738
The fundamental issue here is that positional arguments can't be passed to nbQA. If it was
[code]
then there'd be no issue

So, potential solutions:
- API change: run e.g. `nbqa --nbqa-tool cspell lint --nbqa-files file1.ipynb file2.ipynb`
- add an extra argument to pass positional arguments to the tool, like `nbqa cspell file1.ipynb file2.ipynb --nbqa-posargs lint`
- do some `split` like above

I

[2022-08-25 17:21] MarcoGorelli commented on #738
This is a generic argument BTW, if this is supported for `--nbqa-shell`, it should also be supported for Python modules, where I don't think it'll currently work (all tools tests so far take keyword flags)

[2022-08-26 11:24] s-weigand commented on #738
@MarcoGorelli I [implemented support for subcommands](https://github.com/s-weigand/nbQA/commit/f952893c4e5371d21bbcb9a606669fc4a3e3e8cd) such as `cspell lint`.

Now here comes the tricky part about testing:
Python tools like `flakeheaven` (`nbqa "flakeheaven lint" tests/data` or `nbqa "flakeheaven lint" tests/data --nbqa-shell`) work out of the box since python can resolve the path.
But tools like

[2022-08-29 18:56] MarcoGorelli commented on #738
nice, thanks @s-weigand !

Any thoughts on changing the API? Too disruptive at this stage?

[2022-08-29 19:50] s-weigand commented on #738
I think people are already used to encapsulating commands with spaces in a string by other tools (pretty much all installed software one windows 🤣) so this usage should feel quite natural. Especially since `nbqa` is a wrapper tool to run other tools.

Due to the nature of subcommands (commands with different functionality but part of a toolbox e.g. `git add` vs. `git commit`) IHMO it should not be

[2022-09-05 12:02] joDancker opened #740 "Ensure that committed Jupyter notebooks contain no outputs"
This is not an issuse but perhaps an idea for a feature if it is not out of scope for `nbQA`

If one wants to commit a Jupyter notebook to a repository they want to ensure correct styling using pre-commit hooks. However, they might also want to commit without the outputs of the notebook.

Currently one would need to include an additional repo in the pre-commit.yaml alongside `nbQA`. For simplicity

[2022-09-05 12:34] MarcoGorelli commented on #740
thanks for the suggestion, but isn't this exactly what [nbstripout](https://github.com/kynan/nbstripout) does?

[2022-09-06 18:44] MarcoGorelli opened #742 "remove empty cells after --float-to-top"
nbqa isort notebook.ipynb --float-to-top can leave some empty cells - might as well remove empty cells

[2022-09-07 00:39] dnoliver opened #743 "nbqa ignore cells with "!" command execution, making tools like pylint fail"
Pylint was giving me an "undefined variable error" in a notebook.
The variable was defined in cell, and used in other cell later.
Then I thought, "I can print whatever nbqa is scanning with cat, and run pylint on that output", and I got the same error.
The commands examples are below:

[code]

The exported notebook.py file didn't have the variables declaration.
Then I noticed all the code cells th

[2022-09-07 01:25] dnoliver commented on #743
Tried `nbconvert` as an alternative.

[code]

I didn't got the "undefined  variable" issue I got with nbqa.
The "!cmd" calls where replaced by `get_ipython().getoutput(cmd)` calls.

Should I use nbconvert instead to run pylint? or is this a valid use case for nbqa?

[2022-09-07 08:13] MarcoGorelli commented on #743
Hey @dnoliver thanks for the report

Could you produce a reproducible example please? E.g.:

- in cell1, put `...`
- in cell12, put `...`
- run `nbqa pylint ...`

[2022-09-07 16:12] dnoliver commented on #743
LOL this was not as trivial as I thought :D

This is my notebook that reproduce the issue:

[code]

[code]

This is my proof that it runs

![image](https://user-images.githubusercontent.com/7730267/188927485-b171919e-31eb-4054-84c7-64994c76f450.png)

I took the container from this blog: https://towardsdatascience.com/how-to-run-jupyter-notebook-on-docker-7c9748ed209f

Funny thing is, if you remove

[2022-09-07 16:33] MarcoGorelli commented on #743
Ah I think it's because your cell contains a multi-line magic, which isn't handled, see [known limitations](https://nbqa.readthedocs.io/en/latest/known-limitations.html)

I'd suggest putting `bar = foo[0].split('.')[0]` in a separate cell

[2022-09-07 16:43] MarcoGorelli commented on #743
Yeah, that's exactly the issue - closing for now then (unless you have an idea for how to handle multi-line magics, in which case, please do send a PR)

[2022-09-07 16:43] #743 closed

[2022-09-07 17:26] joDancker commented on #740
Yes, you are right.

Perhaps there is a way for integrating [nbstripout](https://github.com/kynan/nbstripout) without duplicating the work. I am not sure if they'd support something like that.

[2022-09-08 16:06] dnoliver commented on #743
Got it, thanks for the help.
I was wondering why handling those multi-line magics is complex.
Below is the result of extracting code with nbqa

[code]

And this is the result with nbconvert (jupyter nbconvert --to=script notebook.ipynb)

[code]

So nbconvert is handling those multi-line magic gracefully.

I also tried splitting the cells, but it still runs into pylint issue

[code]

[code]

[code]

[2022-09-08 16:58] MarcoGorelli commented on #743
That's the issue, the line break hasn't been preserved by nbconvert

[2022-09-08 16:59] MarcoGorelli commented on #743
You're still assigning to `foo` in a cell with a multi line magic, that's the issue

[2022-09-10 15:43] MarcoGorelli commented on #740
closing then as out-of-scope

[2022-09-10 15:43] #740 closed

[2022-09-10 15:51] MarcoGorelli commented on #738
Hey @s-weigand - just had a chance to look at https://github.com/s-weigand/nbQA/commit/f952893c4e5371d21bbcb9a606669fc4a3e3e8cd , and I think it looks good!

Yeah no objections!

[2022-09-10 15:51] MarcoGorelli commented on #738
Did you want to raise a PR with your commit?

[2022-09-11 09:49] #742 closed

[2022-09-11 13:33] rgommers commented on #668
We just ran into this for SciPy. Wouldn't it be useful for `nbqa` to be able to do this? Either by natively understanding jupytext files, or by doing the "convert to ipynb, run nbqa, convert back" internally?

Jupytext is the best way to keep Jupyter notebooks in version control without making a mess, so it would be nice if Jupytext had broad tooling support.

[2022-09-12 10:36] MarcoGorelli commented on #668
Hey @rgommers

Looks like there's a few people interested in this. Given [this line in the shed readme](https://github.com/Zac-HD/shed#jupyter-notebook-support), I think this might include @zac-hd

I'll take a look, just want to make sure this doesn't accidentally open up a rabbit hole of features to support

Reopening for now then - in the meantime, some local script which does "convert to ipynb,

[2022-09-13 21:06] MarcoGorelli commented on #668
@basnijholt if you have some `.md` notebooks handy, would really appreciate it if you could try this out and help unearth bugs before a release comes out later this week:
[code]

[2022-09-13 22:48] basnijholt commented on #668
Thanks a lot @MarcoGorelli!

I have tested this on the [Adaptive documentation](https://adaptive.readthedocs.io/): https://github.com/python-adaptive/adaptive/tree/master/docs/source/tutorial

However, it's not doing anything and simply reporting:
[code]

[2022-09-14 09:31] MarcoGorelli commented on #668
Thanks @basnijholt for trying this out!

I've had a look at that notebook, and it looks like it's missing
[code]
in `kernelspec`, which nbqa was expecting (to be safe, I was thinking of not formatting notebooks not explicitly marked as Python)

I'll see if there's a way around this - perhaps just checking kernelspec->name is enough

[2022-09-14 12:27] MarcoGorelli commented on #668
Hey @basnijholt  - I've pushed another commit now, to check the kernelspec name as well. Now, from `python-adaptive`, I get:
[code]

Note that, to keep `execution:` in the metadata, you'd probably need to set that in a `jupytext` config file, e.g. like
https://github.com/pymc-devs/pymc-examples/blob/b05301c39be2fdeebfc1c0ed9549c72e53bba61f/.jupytext.toml
(but with `execution` instead of `substitut

[2022-09-17 15:13] #738 closed

[2022-09-18 16:28] #668 closed

[2022-09-18 16:37] MarcoGorelli commented on #668
Should 🤞 be available, as of version 1.5.0

[2022-09-25 13:27] MarcoGorelli commented on #668
@all-contributors please add @basnijholt and @rgommers for ideas

[2022-09-25 13:28] MarcoGorelli commented on #738
@all-contributors please add @dnoliver for bugs

[2022-09-25 13:29] MarcoGorelli commented on #668
looks like these need doing separately

https://github.com/all-contributors please add @rgommers for ideas

[2022-09-25 13:29] MarcoGorelli commented on #668
looks like these need doing separately

@all-contributors please add @rgommers for ideas

[2022-09-28 12:01] francesco-ballarin opened #753 "jupytext is being run on files that are not generated by jupytext"
Hi,
my understanding is that #745 introduced support for jupytext, and that
https://github.com/nbQA-dev/nbQA/commit/b95808d3f26f33d5df23774a015b90541eaec0af#diff-d72c6dc865400b582f957459d2f13e4030da8a9f8afdec522def74313d29a25fR129
should be discarding any markdown files not generated by jupytext.

Is that correct?

If so, what I observe in one of my repositories is that `README.md`, which clearly

[2022-09-28 12:52] MarcoGorelli commented on #753
thanks @francesco-ballarin - yes, that's indeed correct

could you link me to your README please? I'd tried this out on a few readmes and they were indeed being ignored

[2022-09-28 13:13] francesco-ballarin commented on #753
A README of one of the projects I see CI failure is
https://github.com/multiphenics/multiphenicsx/blob/main/README.md

Note that I would not get `nbqa flake8` failures if I did not have the additional `flake8-docstrings` plugin enabled in
https://github.com/multiphenics/multiphenicsx/blob/main/setup.cfg#L56

It makes no sense for that plugin to throw a warning in the case of jupyter notebooks, and

[2022-09-28 13:15] MarcoGorelli commented on #753
Yes, agreed - thanks for the report, I'll take a look!

[2022-09-28 13:17] francesco-ballarin commented on #753
Thanks! :)

[2022-09-28 14:07] #753 closed

[2022-09-28 14:10] MarcoGorelli commented on #753
@francesco-ballarin this should be fixed in version 1.5.2, could you please check?

[2022-09-28 14:44] francesco-ballarin commented on #753
Thanks for the quick fix.

I need to wait for https://github.com/FEniCS/dolfinx/pull/2384 before I can check the fix in v1.5.2 (your fix and that PR are totally unrelated, but my current main branch was affected by both). I'll report back here as soon as I can test v1.5.2.

[2022-09-28 22:44] hofbi opened #755 "New pre-commit hook for autoflake"
Great collection of tools for notebooks. It would be great if you could add a pre-commit hook for https://github.com/PyCQA/autoflake

[2022-09-29 13:27] MarcoGorelli commented on #755
Hey @hofbi

I'm not 100% confident about including `autoflake`, because imports might be used in parts of the notebook that nbqa can't currently process, see https://nbqa.readthedocs.io/en/latest/known-limitations.html

Having said that, you can already make a hook yourself to use autoflake:
[code]

[2022-09-29 13:27] #755 closed

[2022-09-29 15:38] hofbi commented on #755
Thanks @MarcoGorelli for the quick reply. I saw that it is possible to use custom tools. Would you be interested to add autoflake to your https://github.com/nbQA-dev/nbQA/blob/main/.pre-commit-hooks.yaml? I could come up with a PR. I just tried in on my notebooks and worked well so far.

[2022-09-30 20:47] MarcoGorelli commented on #755
I'd rather not, sorry, just a bit concerned about imports that might be used in parts of the notebook that nbqa can't currently process, see https://nbqa.readthedocs.io/en/latest/known-limitations.html

It's one thing for `flake8` to flag them, and there may be false positive, but I feel less easy about `autoflake` removing unused imports due to a known limitation in nbqa

[2022-10-01 05:59] francesco-ballarin commented on #753
Hi @MarcoGorelli, I have tested v1.5.2 on my CI and I can indeed confirm that it fixes the issue on README.md. Thanks again for the quick fix.

[2022-10-01 07:27] MarcoGorelli commented on #753
nice, thanks for checking (and for the report )!

[2022-10-03 02:57] yibenhuang opened #756 "Working with pipx?"
Hi there,

I've installed a couple of tools by [pipx](https://github.com/pypa/pipx), as I want to them installed globally while working on jupyter notebooks in different virtual environments. So I tried to install `nbqa` by `pipx` as well, but it turned out that `nbqa` could not find the other tool modules.

Below is the output of `pipx list`.

[code]

And if I run `nbqa black test.ipynb`, it will

[2022-10-03 07:13] MarcoGorelli commented on #756
Hi @yibenhuang

Does `python -m black` work? That's what nbqa calls. If it doesn't, then you might be able to get around it by using [--nbqa-shell](https://nbqa.readthedocs.io/en/latest/configuration.html#shell-commands)

[2022-10-03 07:13] #756 closed

[2022-10-03 07:34] yibenhuang commented on #756
Hi @MarcoGorelli ,

As the virtual environments don't have the tools (eg: `black`) installed, `python -m black` didn't work. But with `--nbqa-shell` in the command line, it **worked** :>

To better understand, as instructed above, my understanding is that `nbqa` runs the `black` command which comes from pipx (which is globally installed), rather than calling that module in a virtual environment (w

[2022-10-03 07:42] MarcoGorelli commented on #756
yeah it'll just call whatever `black` points to

[2022-10-03 07:43] yibenhuang commented on #756
Good to know, and thanks for this awesome tool!

[2022-10-09 10:23] MarcoGorelli opened #759 "add-trailing-comma"
@cyyc1 just FYI you can use nbqa to run `add-trailing-comma` on notebooks

https://github.com/asottile/add-trailing-comma/issues/204

[2022-10-09 10:23] #759 closed

[2022-10-09 20:15] cyyc1 commented on #759
Hi @MarcoGorelli , thank you for tagging me here. I know of nbQA but I am not seeing an option to use add-training-comma with nbQA.

Could you show me an example? I'm in particular interested in using in in pre-commit.

Thanks.

[2022-10-09 20:20] MarcoGorelli commented on #759
Hey @cyyc1

sure, here you go:
[code]

Does this work for you?

[2022-10-09 20:27] cyyc1 commented on #759
I tried your suggestion, and saw the following message:

[code]

I ran `pre-commit autoupdate` and here's the message I saw:

[code]

[2022-10-09 20:32] MarcoGorelli commented on #759
oops, I should've tried it before suggesting it, sorry, `id` should just be `nbqa`
[code]
[code]

[2022-10-09 20:36] MarcoGorelli commented on #759
got it, just updated my comment, works for me now:
[code]

[2022-10-09 21:31] cyyc1 commented on #759
Yes, it worked for me. Thanks!

I also found this section in the doc: https://nbqa.readthedocs.io/en/latest/pre-commit.html#custom-hooks

I guess if this feature is mentioned on the front page (I mean the repo's README), it would be more readily transparent.

[2022-10-10 08:22] MarcoGorelli commented on #759
Do you want to make a PR to add a line, linking to that section in the docs, at the end of the `pre-commit` section of the README?

[2022-10-10 23:52] cyyc1 commented on #759
Yes sure

[2022-10-19 10:19] tovrstra opened #765 "Useful tool for nbQA: docformatter"
The following works with nbQA (1.5.2) and [docformatter](https://github.com/PyCQA/docformatter) (1.5.0).

[code]

The `-i` option is needed to tell docformatter to modify the notebook in-place.

For those using pre-commit, the following configuration can be used:

[code]

It might be useful to support docformatter out of the box in nbQA, or to show this example in the documentation. (The documenta

[2022-10-19 10:23] MarcoGorelli commented on #765
sure, PRs welcome

[2022-10-19 10:33] tovrstra commented on #765
What do you think is the best way to go?

1. Add docformatter as an example of a custom tool.
2. Built-in support for docformatter in nbQA.

The first would be easy. The second will take a bit longer, but should not be too hard either.

[2022-10-20 07:50] tqa236 opened #766 "Bug with isort --float-to-top when the first cell is markdown"
Hello, thanks a lot for this awesome tool. I'm able to use it with a lot of libraries, but I run into a small problem with `isort`

## Problem

I have a simple Jupyter notebook as below (first cell is a markdown)

![image](https://user-images.githubusercontent.com/25203655/196887571-a645f33b-4e57-4769-9578-dcae4c03e303.png)

When using `nbqa-diff`, the diff looks correct

[code]

When applying the

[2022-10-20 08:12] MarcoGorelli commented on #766
Probably a bug - thanks for the report! I'll take a look

[2022-10-20 09:11] #766 closed

[2022-10-20 09:21] MarcoGorelli commented on #766
@all-contributors please add @tqa236 for bugs

[2022-10-20 09:26] MarcoGorelli commented on #766
@tqa236 this should be fixed in version 1.5.3 - if you could try and let me know if it doesn't work, that'd be much appreciated 🙏

And thanks for your excellent bug report with an easy-to-reproduce example!

[2022-10-20 09:29] mdeboc commented on #766
@MarcoGorelli you're fast!

[2022-10-20 09:59] tqa236 commented on #766
@MarcoGorelli It works perfectly. Thanks a lot!

[2022-10-29 08:41] MarcoGorelli commented on #765
If it's added as an example, there should be tests - do you want to go about adding them? There's examples of other tools, a simple one with `--nbqa-diff` should be fine

[2022-10-30 07:58] tovrstra commented on #765
Sure thing. I wouldn't mind adding tests too. I'll see how the example idea works out and make a PR for it.

[2022-11-15 10:30] marscher opened #772 "Support for Ruff"
Ruff is an uprising super fast Python linter written in Rust. It seems like one needs to add some tests and docs for it, since it runs out of the box.

[code]
output:
[code]
Also the fix option works, since this project is very cleverly designed!

[2022-11-15 10:46] MarcoGorelli commented on #772
Thanks @marscher !

Yeah we should definitely add tested support for `ruff` and a `nbqa-ruff` hook - are you interested in contributing a pull request?